# Игнорировать виртуальные окружения
venv/
env/

# Игнорировать файлы конфигурации IDE
.vscode/
.idea/

# Игнорировать файлы логов
*.log

# Игнорировать файлы с секретами
.env

# Игнорировать pycache
__pycache__/
*.pyc

# Игнорировать файлы настроек IDE или редакторов
*.sublime-workspace
*.sublime-project

# Игнорировать системные файлы
.DS_Store
Thumbs.db